img {
    display: block;
    margin: auto;
    width: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.iconsHouse {
    width: 30px;
}

nav {
    background-color: #042730;
}

button,
a {
    color: blanchedalmond;
}

button:hover {
    color: #194745;
}